.page-users-list {

  
}

.ant-layout-content {
  background:#000000 !important;
}

.ant-layout-sider-children {
  background:#141414 !important;

}

.ant-layout-sider-trigger {
  background:#141414 !important;

}